/* CSS Document */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i');

body {
    margin: 0px;
    font-family: Poppins;
    font-weight: 200;
}

nav.navbar {
    width: 100%;
}

nav.navbar ul {
    list-style: none;
    text-align: center;
    padding-left: 0px;
}

nav.navbar li {
    display: inline-block;
    margin: 0px auto;
    padding: 10px;
}

p {
    padding: 10px;
}

a {
    text-decoration: none
}

a:link {
    color: whitesmoke;
}

a:visited {
    color:darkkhaki;
}

a:focus {
    color: green;
}

a:hover {
    color: burlywood;
}

a:active {
    color: yellowgreen;
}

.active {
    font-weight: 500;
}

.container {
    background-color: oldlace;
}

.floater-section {
    float: left;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
    font-family: Libre Baskerville;
    font-weight: 500;
}

.red {
    background-color: lightcoral;
}

.green {
    background-color: lightgreen;
}

.blue {
    background-color: lightskyblue;
}

.yellow {
    background-color: goldenrod;
}

.cyan {
    background-color: darkturquoise;
}

.purple {
    background-color: plum;
}

.clearfix {
    clear: both;
}

/* SMALL SCREENS*/

@media (min-width: 450px) {
    .small-width-25 {
        width: 25%;
    }

    .small-width-33 {
        width: 33.33%;
    }

    .small-width-50 {
        width: 50%;
    }

    .small-width-100 {
        width: 100%;
    }
}

/* MEDIUM SCREENS*/

@media (min-width: 768px) {
    .medium-width-25 {
        width: 25%;
    }

    .medium-width-33 {
        width: 33.33%;
    }

    .medium-width-50 {
        width: 50%;
    }

    .medium-width-100 {
        width: 100%;
    }

} 

/* LARGE SCREENS*/

@media (min-width: 992px) {
    .large-width-25 {
        width: 25%;
    }

    .large-width-33 {
        width: 33.33%;
    }

    .large-width-50 {
        width: 50%;
    }

    .large-width-100 {
        width: 100%;
    }

}