/* CSS Document */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i');


body {
    margin: 0px;
    font-family: Poppins;
    font-weight: 200;
}

body img.logo {
    margin: 0px auto;
    padding: 10px;
    float: left;
    clear: right;
}

nav.navbar {
    width: 100%;
}

nav.navbar ul {
    list-style: none;
    text-align: center;
}

nav.navbar li {
    display: inline-block;
    padding: 5px;
    margin-top: 35px;
}

header img {
    width: 100%;
}

img.intextimage{
    width: 100%;
    clear: both;
}

h1 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 70px;
    line-height: 1;
    margin-bottom: -20px;
}

h2 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 30px;
    margin-top: 10;
    margin-bottom: 10;
}

h3 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    margin-top: 10;
    margin-bottom: 10;
}

p {
    padding: 10px;
}

a {
    text-decoration: none
}

a:link {
    color: navy;
}

a:visited {
    color:darkkhaki;
}

a:focus {
    color: yellow;
}

a:hover {
    color: burlywood;
}

a:active {
    color: yellowgreen;
}

.active {
    font-weight: 500;
}

.container {
    background-color: none;
}

.floater-section {
    float: left;
    width: 100%;
    min-height: 50px;
    margin-bottom: 10px;
    font-family: Libre Baskerville;
    font-weight: 500;
}

.red {
    background-color: lightcoral;
}

.green {
    background-color: lightgreen;
}

.blue {
    background-color: lightskyblue;
}

.yellow {
    background-color: goldenrod;
}

.cyan {
    background-color: darkturquoise;
}

.purple {
    background-color: plum;
}

.clearfix {
    clear: both;
}

/* SMALL SCREENS*/

@media (min-width: 450px) {

    .small-width-25 {
        width: 25%;
    }

    .small-width-33 {
        width: 33.33%;
    }

    .small-width-50 {
        width: 50%;
    }

    .small-width-100 {
        width: 100%;
    }
}

/* MEDIUM SCREENS*/

@media (min-width: 768px) {
    .medium-width-25 {
        width: 25%;
    }

    .medium-width-33 {
        width: 33.33%;
    }

    .medium-width-50 {
        width: 50%;
    }

    .medium-width-66 {
        width: 66.66%;
    }

    .medium-width-100 {
        width: 100%;
    }

    nav.navbar ul {
        float: right;
    }
    nav.navbar li {
        display: inline-block;
        margin-right: 20px;
    }
} 

/* LARGE SCREENS*/

@media (min-width: 992px) {
    .large-width-25 {
        width: 25%;
    }

    .large-width-33 {
        width: 33.33%;
    }

    .large-width-50 {
        width: 50%;
    }

    .large-width-75 {
        width: 75%;
    }

    .large-width-100 {
        width: 100%;
    }

}