nav.navbar {
    width: 100%;
}

nav.navbar ul {
    list-style: none;
    text-align: center;
}

nav.navbar li {
    display: inline-block;
    padding: 5px;
    margin-top: 35px;
}

.content {
    padding: 10px 10px;
    min-height: 572px;
    border-bottom: 2px solid darkorchid;
    position: relative;
}

.content .img-container {
    min-height: 160px;
}

.content img {
    max-width: 100%;
    min-height: 0px;
}

.content .abs-pos {
    position: absolute;
}

#crprTitle {
    top: 50px;
    margin: 0px auto;
}

#jkrOverlap{
    top: 30px;
}

#jkrTitle {
    top: 200px;
    right: 30px;
    color: whitesmoke;
    text-shadow: 1px 0px 4px #073566;
}