.active {
    font-weight: bold;
}

nav.navbar {
    width: 100%;
}

nav.navbar ul {
    list-style: none;
    text-align: center;
}

nav.navbar li {
    display: inline-block;
    padding: 5px;
    margin-top: 35px;
}

.content {
    padding: 10px 10px;
    min-height: 650px;
    border-bottom: 2px solid darkorchid;
    position: relative;
}

.content .img-container {
    min-height: 370px;
}

.content img {
    max-width: 100%;
    min-height: 260px;
}

.content .abs-pos {
    position: absolute;
}

#crprTitle {
    top: 1%;
    left: 5%;
    color: goldenrod;
    font-size: 50px;
    text-align: center;
    line-height: 1;
    text-shadow: 1px 0px 4px navy;
}

#crprTitle2 {
    top: 1%;
    left: 5%;
    color: goldenrod;
    font-size: 35px;
    text-align: center;
    line-height: 1;
    text-shadow: 1px 0px 4px navy;  
}

#glssTitle {
    top: 1%;
    left: 5%;
    color: goldenrod;
    font-size: 35px;
    text-align: center;
    line-height: 1;
    text-shadow: 1px 0px 4px navy;    
}

#jkrOverlap{
    top: -400px;
    position: relative;
}

#sprmnOvrlp {
    position:relative;
}

#jkrTitle {
    top: 1%;
    left: 5%;
    color: goldenrod;
    font-size: 35px;
    text-align: center;
    line-height: 1;
    text-shadow: 1px 0px 4px navy; 
}