@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Germania+One');

h1 {
    font-family: Germania One;
    color: white;
    font-size: 75px;
    text-align: center;
    line-height: 1;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}

h2 {
    font-family: Germania One;
    color: white;
    font-size: 50px;
    text-align: center;
    line-height: 1;
}


h3 {
    font-family: Germania One;
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: .25;
    left: 50%;
    transform: translate(-50%)
}

nav.navbar ul {
    font-family: Germania One;
    list-style: none;
    padding-left: 0;
    margin: 0px auto;
    padding: 5px 0px;
    text-align: center;
}

nav.navbar li {
    display: inline-block;
    border-bottom: 4px solid whitesmoke;
    padding: 0 10px 0 10px;
}

.container {
    margin: 0px auto;
    background-color: lemonchiffon;
}

.floater-section {
    float: left;
    width: 100%;
    min-height: 50px;
    margin-bottom: 10px;
}

.content {
    padding: 0px 10px;
    min-height: 250px;
    border-bottom: 2px solid darkorchid;
    position: relative;
}

.content img {
    max-width: 100%;
}

.content .abs-pos {
    position: absolute;
}

.content .img-container {
    min-height: 160px;
}

.socialmedia ul {
    list-style: none;
    text-align: center;
    list-style-type: none;
}

.socialmedia li {
    display: inline-block;

}

.clearfix {
    clear: both;
}

/*************SMALL SCREENS********************/
@media (min-width: 450px){
    .container {
        width: 440px;
    }

    .small-width-25 {
        width: 25%;
    }
    
    .small-width-33 {
        width: 33.3333%;
    }
    
    .small-width-50 {
        width: 50%;
    }

    .small-width-66 {
        width:66.6666%;
    }

    .small-width-75 {
        width: 75%;
    }

    .small-width-100 {
        width: 100%;
    }
}

/*************MEDIUM SCREENS*******************/
@media (min-width: 768px){
    .container {
        width: 760px;
    }

    .med-width-25 {
        width: 25%;
    }
    
    .med-width-33 {
        width: 33.3333%;
    }

    .med-width-50 {
        width: 50%;
    }


    .med-width-66 {
        width:66.6666%;
    }

    .med-width-75 {
        width: 75%;
    }
    
    .med-width-100 {
        width: 100%;
    }
    
    h1 {
        font-size: 100px;
    }

    h3 {
        margin-top: 65px;
    }
}

/*************LARGE SCREENS*******************/
@media (min-width: 992px){
    .container {
        width: 960px;
    }

    .large-width-25 {
        width: 25%;
    }
    
    .large-width-33 {
        width: 33.33333%;
    }

    .large-width-50 {
        width: 50%;
    }


    .large-width-66 {
        width:66.6666%;
    }

    .large-width-75 {
        width: 75%;
    }
    
    .large-width-100 {
        width: 100%;
    }
}