@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&display=swap');


ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline-block;
    margin: 20px 5px;
}

.clearfix {
    clear: both;
}

a {
    font-family: 'Oswald', sans-serif, regular;
}

a:link {
    text-decoration: none; 
    color:#666666;
}

a:visited {
    text-decoration: none; 
    color:#66ffcc;
}

a:hover {
    color:#cc3333; 
}
 
#welcomebanner {
    background-image: url("images/welcomebanner_small.jpg");
    background-size: cover;
    position: center;
    width: 100%;
    height: 450px;

}


/*************SMALL SCREENS********************/
@media (min-width: 375px){
    .container {
        width: 375px;
    }

    .small-width-25 {
        width: 25%;
    }
    
    .small-width-33 {
        width: 33.3333%;
    }
    
    .small-width-50 {
        width: 50%;
    }

    .small-width-66 {
        width:66.6666%;
    }

    .small-width-75 {
        width: 75%;
    }

    .small-width-100 {
        width: 100%;
    }

    #logo {
        width: 225px;
        padding-top: 15;
        padding-left: 15;
    }

/*************MEDIUM SCREENS*******************/
@media (min-width: 768px){
    .container {
        width: 760px;
    }

    .medium-width-25 {
        width: 25%;
    }
    
    .medium-width-33 {
        width: 33.3333%;
    }

    .medium-width-50 {
        width: 50%;
    }


    .medium-width-66 {
        width:66.6666%;
    }

    .medium-width-75 {
        width: 75%;
    }
    
    .medium-width-100 {
        width: 100%;
    }
    
    

/*************LARGE SCREENS*******************/
@media (min-width: 992px){
    .container {
        width: 960px;
    }

    .large-width-25 {
        width: 25%;
    }
    
    .large-width-33 {
        width: 33.33333%;
    }

    .large-width-50 {
        width: 50%;
    }


    .large-width-66 {
        width:66.6666%;
    }

    .large-width-75 {
        width: 75%;
    }
    
    .large-width-100 {
        width: 100%;
    }
}