@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&display=swap');

#logo {
    width: 450px;
    padding-top: 50px;
    padding-left: 25px;
}

ul {
    list-style: none;
    text-align: center;
    margin:0px;
    padding:0px;
}

li {
    display: inline-block;
    margin: 20px 5px;
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Oswald', sans-serif;
    padding: 5px;
    line-height: 20px;
    color: #666666;
}

p.bodytitle {
    font-weight: 700;
    margin-top: 10px;
}

p#tagline {
    font-family: 'Oswald', sans-serif;
    font-size: xx-small;
    font-style: normal;
    color: #339999;
    width: 300px;
    margin-top: initial;
}

.clearfix {
    clear: both;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: white;    
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #ffffff; 
    line-height: 40px;
    padding-left: 10px;
    margin-top: 10px;

}

h2.ttlHdr2b {
    padding-top: 68px;
    font-weight: 400;
    width: 345px;
}

a {
    font-family: 'Oswald', sans-serif,;
    font-size: 14px;
}

a:link {
    text-decoration: none; 
    color:#666666;
}

a:visited {
    text-decoration: none; 
    color:#66ffcc;
}

a:hover {
    color:#cc3333; 
}

.container {
    margin: 0px auto;
    /*background-color: lemonchiffon; */
}

.floater-section {
    float: left;
    width: 100%;
    min-height: 50px;
    margin-bottom: 10px;
}

.content {
    padding: 0px 0px;
    min-height: 250px;
    position: relative;
    margin-bottom: 10px;
}

.content img {
    max-width: 100%;
    left: 50%;
    transform: translate(-50%);
}

.content .abs-pos {
    position: absolute;
}

.content .abs-rel {
    position: relative;
}

.content .img-container {
    min-height: 160px;
}

#welcomebanner {
    background-image: url("images/welcomebanner_small.jpg");
    background-size: cover;
    position: center;
    width: 100%;
    height: 325px;
    background-repeat: no-repeat;
}

#businessSpotlight {
    background-image: url(images/maaminternational\ food.png);
    background-size: cover;
    position: center;
    width: 100%;
    height: 325px;
}

#maintainsustain {
    background-color: #999999;
    background-size: cover;
    position: center;
    width: 100%;
    height: 325px;
}

#localevents {
    background-color: #006666;
    background-size: cover;
    position: center;
    width: 100%;
    height: 325px;
}

#donate {
    background-color: #339999;
    background-size: cover;
    position: center;
    width: 100%;
    height: 325px;
}
/*************SMALL SCREENS********************/
@media (min-width: 375px){
    .container {
        width: 375px;
    }

    .small-width-25 {
        width: 25%;
    }
    
    .small-width-33 {
        width: 33.3333%;
    }
    
    .small-width-50 {
        width: 50%;
    }

    .small-width-66 {
        width:66.6666%;
    }

    .small-width-75 {
        width: 75%;
    }

    .small-width-100 {
        width: 100%;
    }

    #logo {
        width: 225px;
        padding-top: 10px;
        padding-left: 15px;
        margin: 0px auto;
    }

    li {
        display: inline-block;
        margin: 10px 5px;
    }

    #navbar {
        height: 50px;
    }

    #welcomebanner {
        background-position: 0px -144px;
    }
    
    #navbar ul {
        float: none;
        margin-right:0px;
        margin-top: 0px;
    }

    h1 {
        top:56%;
        left:40%;
        font-size: 65px;
    }
     
    .ttlHdr2a {
        top:10%;
        left:10%;
    }
}

/*************MEDIUM SCREENS*******************/
@media (min-width: 768px){
    .container {
        width: 768px;
    }

    .medium-width-25 {
        width: 25%;
    }
    
    .medium-width-33 {
        width: 33.3333%;
    }

    .medium-width-50 {
        width: 50%;
    }

    .medium-width-66 {
        width:66.6666%;
    }

    .medium-width-75 {
        width: 75%;
    }
    
    .medium-width-100 {
        width: 100%;
    }

    #welcomebanner {
        background-position: 0px -415px;
    }

    #logo {
        float: left;
        margin: 10px 10px 25px 10px;

    }

    #navbar ul {
        float: right;
        margin-right:25px;
        margin-top: 10px;
    }
}
    

/*************LARGE SCREENS*******************/
@media (min-width: 992px){
    .container {
        width: 960px;
    }

    .large-width-25 {
        width: 25%;
    }
    
    .large-width-33 {
        width: 33.33333%;
    }

    .large-width-50 {
        width: 50%;
    }


    .large-width-66 {
        width:66.6666%;
    }

    .large-width-75 {
        width: 75%;
    }
    
    .large-width-100 {
        width: 100%;
    }

    #welcomebanner {
        background-position: 0px -560px;
    }
}