@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&display=swap');

#logo {
    width: 450px;
    padding-top: 50px;
    padding-left: 25px;
}

ul {
    list-style: none;
    text-align: center;
    margin:0px;
    padding:0px;
}

li {
    display: inline-block;
    margin: 20px 5px;
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Oswald', sans-serif;
    padding: 5px;
    line-height: 20px;
    color: #666666;
}

p#boardOfdirectors.body {
    line-height: 30px;
    font-weight: 100
}

p.bodytitle {
    font-weight: 700;
    margin-top: 10px;
}

p#tagline {
    font-family: 'Oswald', sans-serif;
    font-size: x-small;
    font-style: normal;
    color: #339999;
    width: 300px;
    margin-top: initial;
    text-align: center;
}

p#welcome {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;    
}
p.address {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    padding-left: 5px;
    line-height: 20px;
    color: #666666;
    clear: both;
    width:200px;
}
.clearfix {
    clear: both;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: white;    
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 42px;
    color: #ffffff; 
    line-height: 40px;
    padding-left: 10px;
    margin-top: 10px;

}

h2.ttlHdr2b {
    padding-top: 68px;
    font-weight: 400;
    width: 345px;
}

h2.ttlHdr2mission {
    padding-top: 68px;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    width: 345px;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #ffffff; 
    line-height: 35px;
    padding-left: 10px;
    margin-top: 10px;
}

h3.ttlHdr2c {
    padding-top: 68px;
    font-weight: 100;
    width: 350px;
}

a {
    font-family: 'Oswald', sans-serif,;
    font-size: 14px;
}

a:link {
    text-decoration: none; 
    color:#666666;
}

a:visited {
    text-decoration: none; 
    color:#339999;
}

a:hover {
    color:#cc3333; 
}

.container {
    margin: 0px auto;
    /*background-color: lemonchiffon; */
}

.floater-section {
    float: left;
    width: 100%;
    min-height: 50px;
    margin-bottom: 0px;
}

.content {
    padding: 0px 0px;
    min-height: 250px;
    position: relative;
    margin-bottom: 0px;
}

.content img {
    max-width: 100%;
    left: 50%;
    transform: translate(-50%);
}

.content .abs-pos {
    position: absolute;
}

.content .abs-rel {
    position: relative;
}

.content .img-container {
    min-height: 160px;
}

#welcomebanner, #about {
    background-image: url("images/welcomebanner_small.jpg");
    background-size: cover;
    position: center;
    width: 100%;
    height: 325px;
    background-repeat: no-repeat;
    margin-bottom: 0px;
}

#about {
    background-image: url("images/about.png");
    margin-bottom: 10px;
    background-position: 0px -50px;
}

#donateBanner {
    background-image: url("images/donate.png");
    margin-bottom: 10px;
    background-position: 0px -50px;
}

#businessdirectory {
    background-image: url("images/pico\ street\ view.png");
    background-size: cover;
    position: center;
    width: 100%;
    height: 325px;
    background-repeat: no-repeat;
    margin-bottom: 0px;
}

#businessSpotlight {
    background-image: url(images/maaminternational\ food.png);
    background-size: cover;
    position: center;
    width: 100%;
    height: 325px;
    margin-bottom: 10px;
}

#businessSpotlight2 {
    background-image: url(images/bowlmor.png);
    background-size: cover;
    position: center;
    width: 100%;
    height: 325px;
    margin-top: 0px;
}

#businessSpotlight3 {
    background-image: url(images/unurbancoffeehouse.png);
    background-size: cover;
    position: center;
    width: 100%;
    height: 325px;
    margin-top: 10px;
}

#boardOfd {
    background-image: url(images/board.jpg);
    background-size: cover;
    position: center;
    width: 100%;
    height: 325px;
    margin-top: 10px;
}

#maintainsustain {
    background-color: #999999;
    background-size: cover;
    position: center;
    width: 100%;
    height: 325px;
}

#localevents {
    background-color: #006666;
    background-size: cover;
    position: center;
    width: 100%;
    height: 325px;
}

#donate {
    background-color: #339999;
    background-size: cover;
    position: center;
    width: 100%;
    height: 325px;
}

#mission {
    background-color: #006666;
    background-size: cover;
    position: center;
    width: 100%;
    height: 325px;
}

#meeting {
    background-color: #339999;
    background-size: cover;
    position: center;
    width: 100%;
    height: 325px;
}
.link {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    background-color: #66ffcc;
    width: 150px;
    height: 30px;   
    text-align: center; 
    float: right;
    clear: both;
    margin-bottom: 20px;
    margin-left: 5px;
}

.content #title .helpfulLinks {
    margin-bottom: 0px:
    
}

footer.socialmedia ul {
    float:right;
    padding-right: 25px;
    padding-top: 25px;
}

#logoFooter {
    width:150px;
    float:left;
    padding-top: 25px;
    margin-bottom: 25px;
}

p#contact, p#contact a {
    line-height: 12px;
    color: #339999; 
    font-size:x-small;
    width:250px;
    margin-top: 0px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  ol.businesses p {
    font-family: 'Oswald', sans-serif;
    padding: 0px;
    margin: 0px;
    font-weight: 100;
  }

  li p.name {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
  }

  ol.businesses {
      margin-bottom: 5px;
      padding: 0px;
      text-align: left;
  }

  ol.businesses a {
      font-weight: 100;
  }

  ol.businesses li {
      width: 300px;
      height: 115px;
  }

  form {
      font-family: 'Oswald', sans-serif;
      font-weight: 300;
      font-size: 18px;
      margin-top: 10px;
  }

  /*
input {
    width: 200px;
  }
*/
  
/*************SMALL SCREENS********************/
@media (min-width: 375px){
    .container {
        width: 375px;
    }

    .small-width-25 {
        width: 25%;
    }
    
    .small-width-33 {
        width: 33.3333%;
    }
    
    .small-width-50 {
        width: 50%;
    }

    .small-width-66 {
        width:66.6666%;
    }

    .small-width-75 {
        width: 75%;
    }

    .small-width-100 {
        width: 100%;
    }

    #logo {
        width: 320px;
        padding-top: 10px;
        padding-left: 15px;
        margin: 0px auto;
    }

    li {
        display: inline-block;
        margin: 10px 5px;
    }

    #navbar {
        height: 50px;
    }

    #welcomebanner {
        background-position: 0px -144px;
    }
    

    #navbar ul {
        float: none;
        margin-right:0px;
        margin-top: 0px;
    }

    h1 {
        top:56%;
        left:33%;
        font-size: 65px;
    }

    #ttlHdrbd.abs-pos {
        top:40%;
        left:23%;
        font-size: 65px;
        line-height: 63px
    }

    #ttlHdrabout.abs-pos {
        top:58%;
        left:45%;
        font-size: 65px;
        line-height: 63px
    }

    .ttlHdr2a {
        top:10%;
        left:10%;
    }

    .link {
        float: left;
    }

    #about {
        background-position: 0px -4px;
    }


}

/*************MEDIUM SCREENS*******************/
@media (min-width: 768px){
    .container {
        width: 768px;
    }

    .medium-width-25 {
        width: 25%;
    }
    
    .medium-width-33 {
        width: 33.3333%;
    }

    .medium-width-50 {
        width: 50%;
    }

    .medium-width-66 {
        width:66.6666%;
    }

    .medium-width-75 {
        width: 75%;
    }
    
    .medium-width-100 {
        width: 100%;
    }

    #welcomebanner {
        background-position: 0px -415px;
    }

    #logo {
        float: left;
        margin: 10px 10px 25px 10px;

    }

    #navbar ul {
        float: right;
        margin-right:25px;
        margin-top: 10px;
    }

    h3.ttlHdr2c {
        padding-top: 68px;
        font-weight: 100;
        width: 250px;
    }

    h1 {
        top:56%;
        left:65%;
        font-size: 65px;
    }

    #ttlHdrbd.abs-pos {
        top:40%;
        left:23%;
        font-size: 65px;
        line-height: 63px
    }

    #businessdirectory {
        background-position: 0px -250px;
    }

    #ttlHdrbd.abs-pos {
        top:60%;
        left:30%;
        font-size: 65px;
        line-height: 63px
    }

    #ttlHdrabout.abs-pos {
        top:58%;
        left:72%;
        font-size: 65px;
        line-height: 63px
    }
    
}
    

/*************LARGE SCREENS*******************/
@media (min-width: 992px){
    .container {
        width: 960px;
    }

    .large-width-25 {
        width: 25%;
    }
    
    .large-width-33 {
        width: 33.33333%;
    }

    .large-width-50 {
        width: 50%;
    }


    .large-width-66 {
        width:66.6666%;
    }

    .large-width-75 {
        width: 75%;
    }
    
    .large-width-100 {
        width: 100%;
    }

    #welcomebanner {
        background-position: 0px -560px;
    }

    h1 {
        top:56%;
        left:73%;
        font-size: 65px;
    }

    #businessdirectory {
        background-position: 0px -395px;
    }

    #ttlHdrbd.abs-pos {
        top:60%;
        left:44%;
        font-size: 65px;
        line-height: 63px
    }

    #ttlHdrabout.abs-pos {
        top:58%;
        left:80%;
        font-size: 65px;
        line-height: 63px
    }

    #about {
        background-position: 0px -50px;
    }

    #ttlHdrabout.abs-pos {
        top:58%;
        left:78%;
        font-size: 65px;
        line-height: 63px
    }
}