body {
    margin: 0px;
}
/* above code removes the margins on the side so it is flush remeber that real estate is so important at small screens*/

.container {
    background-color: yellow;
    width: 100%;
    height: 200px;
}

.container img {
    width: 100%;
    margin-top: 75px;
}

nav.navbar {
    background-color: navy;
    width: 100%;
    padding: 20px 0px ;
}

nav.navbar ul {
    list-style: none;
    padding-left: 0;
    margin: 0px;
    padding: 20px 0px;
    text-align: center;
}

nav.navbar li {
    border-bottom: 4px solid whitesmoke;
    padding: 0 10px 0 10px;
}

nav.navbar li:last-child {
    border-bottom: none;
}


nav.navbar a {
    font-size: 22px;
    text-decoration: none;
    color:whitesmoke;
    line-height: 30px;
}
main.container h1 {
    text-align: center;
    padding-top: 50px;
}

@media(min-width: 768px){
    .container {
        background-color: dodgerblue;
        width: 750px;
        margin: 0px auto;
    }

    nav.navbar li {
            display: inline-block;
    }

    nav.navbar li:last-child {
        border-bottom: 4px solid whitesmoke;
    }
}

@media(min-width: 992px){
    .container {
        background-color:plum;
        width: 960px;
    }
}